*{
    background-color: white;
}


.lifeline{
    background-color: white;
    width:8in;
    height: 200px;

    position: relative;
    left: 60px;
    border-radius: 30px;

}

.life1{
    background-image: url("call.png");
    position: relative;
    top:20px;
    left: 30px;
    width: 220px;
    height: 130px;
}

.life2{
    background-image: url("audience.png");
    position: relative;
    top:20px;
    left: 60px;
    width: 220px;
    height: 130px;
}

.life3{
    background-image: url("5050.png");
    position: relative;
    top:20px;
    left: 90px;
    width: 220px;
    height: 130px;
}

.app{
    background: white;
    position: relative;
    top: 5px;
    left:60px;

    width:8in;
    height: 4in;
    
    
}

.app h1{
    color: purple;
    background-color: black;
    width: 250px;
    text-align: center;
}



.questions h2{
    position: relative;
    top: 30px;
    left: 20px;
    width: 700px;
    height: 80px ;
    background-color: pink;
    border-radius: 50px;
    text-align: center;
    border-width: 5px;
    border: 5px solid purple;
    
}

.btn{
    background-color: pink;
    width: 350px;
    height: 70px;
    position: relative;
    top:15px;
    left: 10px;
    margin: 10px;

    border-radius: 50px;
    border-color: purple;
    border-width:5px;

    font-size: 20px;
    font-weight: bold;
    
}

.btn:hover{
    background-color: blueviolet;
    color: white;
}

.options{
    background-color: white;
    position: relative;
    top:25px;
    height: 200px;
}

.amount_won{
    background-color: purple;
    position:absolute;
    right: 20px;
    top:10px;
    width: 350px;
    height: 600px;
}

.won{
    position: relative;
    text-align: center;
    height: 32px;
    margin: 5px;
}

.won:hover{
    background-color: red;
}

.active{
    background-color: green;
}

.timex{
    background-color: white;
    position:absolute;
    left:350px;
    top: 250px;
    width: 260px;
    height: 50px;
    z-index: 7;
}

#b1,#b2,#b3,#b4{
    background-color: pink;
    width: 350px;
    height: 70px;
    position: relative;
    top:15px;
    left: 10px;
    margin: 10px;

    border-radius: 50px;
    border-color: purple;
    border-width:5px;

    font-size: 20px;
    font-weight: bold;
}